@import "_bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kobe Mono", monospace;
    font-weight: 500;
    font-size: 16px;
}

html, body,
#root {
    height: 100%;
    width: 100%;
    padding: 5px;
    // @extend .col, .center_items
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    overflow: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center_items {
    align-items: center;
    justify-content: center;
}

.form-switch .form-check-input {
    margin-left: 10px !important;
}

.btn.form-control {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
    &:focus,&:hover {
        color: var(--bs-btn-hover-color);
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-border-color);
    }
}
